* {
  font-family: "Cormorant Garamond";
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
}

window#waybar {
  background-color: transparent;
  color: #151b2d;
}

#workspaces button.active {
  color: #e8cfb3;
}

#workspaces button {
  color: #5a6063;
}

#workspaces {
  background-color: #080d17;
  border: 1px solid #e8cfb3;
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  margin-right: 12px;
}

#battery,
#pulseaudio,
#backlight,
#custom-weather {
  color: #e8cfb3;
  background-color: #080d17;
  margin: 0 15px 0 0px;
  padding: 0 15px 0 15px;
  border: 1px solid #e8cfb3;
}

#custom-settings {
  color: #e8cfb3;
  border: 1px solid #e8cfb3;
  background-color: #080d17;
  font-size: 20px;
  margin-left: 10px;
  padding: 0px 20px 0px 15px
}

#network {
  color: #e8cfb3;
  background-color: #080d17;
  margin: 0 0px 0 0px;
  padding: 0 15px 0 15px;
  border: 1px solid #e8cfb3;
}

#clock {
  color: #e8cfb3;
  background-color: #080d17;
  margin: 0 15px 0 0;
  padding: 0 15px 0 15px;
  border: 1px solid #e8cfb3;
}

#network {
  color: #e8cfb3;
}

#pulseaudio {
  color: #e8cfb3;
}

#backlight {
  color: #e8cfb3;
}

#custom-weather {
  color: #e8cfb3;
  background-color: #080d17;
  padding: 0 15px 0 15px;
}

#custom-media {
  color: #e8cfb3;
  background-color: #080d17;
  margin: 0 0px 0 15px;
  padding: 0 15px 0 15px;
}
