* {
  font-family: "Cormorant Garamond";
  /* font-family: 'Radio Canada Big', sans-serif; */
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
}

window#waybar {
  background-color: transparent;
  color: #151b2d; /* @background */
}

#workspaces button.active {
  color: #e8cfb3; /* @foreground */
}

#workspaces button {
  color: #2f3b85; /* @foreground */
}

#workspaces {
  background-color: #080d17; /* @background */
  padding: 0 5.6px 0 0;
  border: 1px solid #e8cfb3;
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  margin-right: 12px;
}

#battery,
#pulseaudio,
#backlight,
#custom-settings,
#custom-weather {
  color: #e8cfb3; /* @color5 */
  background-color: #080d17; /* @background */
  margin: 0 15px 0 0px;
  padding: 0 15px 0 15px;
  border: 1px solid #e8cfb3;
}

#custom-settings {
  font-size: 35px;
  margin-left: 12px;
}

#network {
  color: #e8cfb3; /* @color2 */
  background-color: #080d17; /* @background */
  margin: 0 0px 0 0px;
  padding: 0 15px 0 15px;
  border: 1px solid #e8cfb3;
}

#clock {
  color: #e8cfb3; /* @color3 */
  background-color: #080d17; /* @background */
  margin: 0 15px 0 0;
  padding: 0 15px 0 15px;
  border: 1px solid #e8cfb3;
}

#network {
  color: #e8cfb3; /* @color4 */
}

#pulseaudio {
  color: #e8cfb3; /* @color5 */
}

#backlight {
  color: #e8cfb3; /* @color5 */
}

#custom-weather {
  color: #e8cfb3; /* @color4 */
  background-color: #080d17; /* @background */
  padding: 0 15px 0 15px;
}

#custom-media {
  color: #e8cfb3; /* @color4 */
  background-color: #080d17; /* @background */
  margin: 0 0px 0 15px;
  padding: 0 15px 0 15px;
}
